<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
	<meta name="author" content="Diskominfo Kota Jambi" />
	<meta name="robots" content="no-follow" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="<%= title %> - Dinas Kesehatan Kota Jambi" />
	<meta property="og:title" content="<%= title %> - Dinas Kesehatan Kota Jambi" />
	<meta property="og:description" content="<%= title %> - Dinas Kesehatan Kota Jambi" />
	<meta property="og:image" content="/admin/images/mini-logo.png" />
	<meta name="format-detection" content="telephone=no">
    <title><%= title %></title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/admin/images/logo-icon.png">
	<link href="/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/admin/css/style.css" rel="stylesheet">
    <link href="/admin/css/loader.css" rel="stylesheet">

</head>
<style>

    .alert.alert-danger.mb-4{
        transition: .5s ease;
    }

    .alert.alert-danger.mb-4.hide{
        height: 0;
        border-width: 0;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        transition: .1s ease;
    }

    .alert.alert-danger.mb-4 span{
        display: none;
    }

</style>

<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<img src="/admin/images/mini-logo.png" alt="logo kota jambi" style="height: 4rem">
									</div>
                                    <h4 class="text-center mb-4">Silahkan login sebelum melanjutkan</h4>
                                    <div class="alert alert-danger mb-4 hide" role="alert" id="authAlert">
                                        <span id="authMsg">Error message here</span> 
                                    </div>
                                    <form action="index.html" id="authForm" action="/auth/login" method="post">
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Username</strong></label>
                                            <input type="text" id="username" name="username" class="form-control" placeholder="Username Anda">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Password</strong></label>
                                            <input type="password" id="password" name="password" class="form-control" >
                                        </div>
                                        <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                            <div class="form-group">
                                               <div class="custom-control custom-checkbox ml-1">
													<input type="checkbox" class="custom-control-input" id="basic_checkbox_1" checked>
													<label class="custom-control-label" for="basic_checkbox_1">Remember me</label>
												</div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-block waves-effect waves-light d-flex justify-content-center align-items-center" type="submit">
                                            <div class="loader-wrapper hide">
                                                <div class="loader"></div>
                                            </div>
                                            <span class="mx-2" id="authBtnText">Log In</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/admin/vendor/global/global.min.js"></script>
	<script src="/admin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/admin/js/custom.min.js"></script>
	<script src="/admin/js/deznav-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validate-js/2.0.1/validate.min.js" integrity="sha512-8GLIg5ayTvD6F9ML/cSRMD19nHqaLPWxISikfc5hsMJyX7Pm+IIbHlhBDY2slGisYLBqiVNVll+71CYDD5RBqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/admin/js/validation/authValidation.js"></script>
    <script src="/admin/js/auth.js"></script>
    
</body>
</html>
